In [7]:
import pandas as pd
predicted_country_df = pd.read_csv("predicted_temp_country.csv")
predicted_country_df

           Country  Year  avg_temp_F
0      Afghanistan  2013   59.620016
1      Afghanistan  2014   59.669303
2      Afghanistan  2015   59.718589
3      Afghanistan  2016   59.767875
4      Afghanistan  2017   59.817161
...            ...   ...         ...
19267     Zimbabwe  2096   73.153647
19268     Zimbabwe  2097   73.175849
19269     Zimbabwe  2098   73.198050
19270     Zimbabwe  2099   73.220251
19271     Zimbabwe  2100   73.242452

[19272 rows x 3 columns]

In [10]:
previous_data = pd.read_csv("country_temp_data_ML.csv")
previous_data = previous_data[["Country","Year","avg_temp_F"]]
full_country_data = pd.concat([predicted_country_df,previous_data],ignore_index=True)
full_country_data = full_country_data.sort_values(["Country","Year"],ascending = True)
full_country_data

           Country  Year  avg_temp_F
19272  Afghanistan  1900   56.748800
19273  Afghanistan  1901   57.009200
19274  Afghanistan  1902   58.110500
19275  Afghanistan  1903   55.375550
19276  Afghanistan  1904   56.850350
...            ...   ...         ...
19267     Zimbabwe  2096   73.153647
19268     Zimbabwe  2097   73.175849
19269     Zimbabwe  2098   73.198050
19270     Zimbabwe  2099   73.220251
19271     Zimbabwe  2100   73.242452

[44019 rows x 3 columns]

In [2]:
import os
import shutil
import time

import folium
import imageio
import webbrowser
import zipfile
import json
import fileinput

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from os import path
from branca.colormap import linear
from selenium import webdriver
from PIL import Image
from pathlib import Path

In [ ]:
beg_temp = 0
predicted_country_df["year change"] = 0
predicted_country_df["running_total_change"] = 0

for index, row in predicted_country_df.iterrows():
    if row["Year"] == 2013:
        predicted_country_df.loc[index, 'year change'] = 0
        predicted_country_df.loc[index, 'running_total_change'] = 0
        beg_temp = row["avg_temp_F"]
        running_total = 0
    else:
        change = row["avg_temp_F"] - beg_temp
        running_total = running_total + change
        predicted_country_df.loc[index, 'year change'] = change
        predicted_country_df.loc[index, 'running_total_change'] = running_total
        beg_temp = row["avg_temp_F"]
        
country_df_merged_year.head(20)